.header__button-popup-open {
    width: 48px;
    height: 48px;
    background: no-repeat center/48px url(../../../images/open.svg);
    border: none;
    background-color: transparent;
    cursor: pointer;
}