.menu-popup {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 245px;
  width: 440px;
  height: 810px;
  background: #000000;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  overflow-y: hidden;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  padding: 20px;
}
