.about__img {
  max-width: 100%;
  object-fit: cover;
}

.about__img:nth-of-type(1) {
  grid-column: 1/3;
  grid-row: 2/2;
  padding-left: 525px;
  animation: fadeInRight 300ms ease-in-out;
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.about__img:nth-of-type(2) {
  animation: fadeInLeft 300ms ease-in-out;
  -webkit-animation-delay: 1.7s;
  -moz-animation-delay: 1.7s;
  animation-delay: 1.7s;
}

.about__img:nth-of-type(3) {
  grid-column: 1/3;
  grid-row: 4/4;
  padding-left: 525px;
  animation: fadeInRight 300ms ease-in-out;
  animation-delay: 2.3s;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
