.header__title {
  margin: 0;
  max-width: 700px;
  min-height: 192px;
  font-family: "Prompt", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 64px;
  color: #0a0a0a;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  grid-column: 2/3;
  grid-row: 1/2;
  padding-top: 250px;
  white-space: pre-line;
}
